---
interface Props {
  post: any;
  compact?: boolean;
}

const { post, compact = false } = Astro.props;
const pData = post.data;
const postLink = "/ramblings/" + pData.slug;
const postDate = new Date(pData.pubDate);
const postDateStr = postDate.toLocaleDateString("en-IE", { year: "numeric", month: "short", day: "numeric" });
---

<a href={postLink} class="blog-item">
  <span class="blog-item-title">{pData.title}</span>
  <span class="blog-item-date">{postDateStr}</span>
</a>
