---
import Layout from "../../../layouts/Layout.astro";
import ProjectPage from "../../../components/ProjectPage.astro";
---
<Layout title="Why Vim? — Bence R.">
  <ProjectPage
    name="Why Vim?"
    date="May 2025 – Present"
    tags={["Next.js", "React", "Tailwind CSS", "Framer Motion", "TypeScript"]}
    image="/whyvim.png"
    imageAlt="The landing page of Why Vim?"
    github="https://github.com/bencered/why-vim"
    link="https://whyvim.org"
  >
    <div class="section">
      <h2 class="section-heading">What?</h2>
      <p>A work-in-progress website that aims to introduce Vim motions to those unfamiliar with them.</p>
      <h2 class="section-heading" style="margin-top:1.5rem">Why?</h2>
      <p>I wanted to improve on my core React/TypeScript skills, as well as give back to the Vim community. I'm a firm believer that optimising your development workflow will inevitably lead to exponential gains in productivity, and Vim is one of the best ways of doing so.</p>
      <h2 class="section-heading" style="margin-top:1.5rem">Learnings</h2>
      <p>Advanced React hooks (e.g. useContext), web design, Framer Motion, and technical writing.</p>
    </div>
  </ProjectPage>
</Layout>
