---
import "../styles/globals.css"
import SideNav from "../components/SideNav.astro"
import MobileNav from "../components/MobileNav.astro"
import { ClientRouter } from 'astro:transitions';
import Analytics from '@vercel/analytics/astro'

interface Props {
    title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
        <meta name="generator" content={Astro.generator} />
        <title>{title}</title>
        <script defer src="https://umami.bence.red/script.js" data-website-id="e632ac30-04d3-42b5-9d01-8481db69b9a1"></script>
        <ClientRouter />
    </head>
    <body>
        <Analytics />
        <MobileNav />
        <SideNav />
        <main class="main-content">
            <slot />
        </main>
    </body>
</html>
